<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>aggregate</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          浜島ロゴ
        </div>
        <div class="header-right">
          メニュー
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="choice">
        <table　border="1">
          <tr>
            <th>回数</th>
            <th>表／裏</th>
          </tr>
          <tr>
            <th>
              <select class="question-times" name="times">
                <option value="1">1回</option>
                <option value="2">2回</option>
              </select>
            </th>
            <th>
              <select class="question-heads or tails" name="direction">
                <option value="heads">表</option>
                <option value="tails">裏</option>
              </select>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
